{% extends 'admin.html.twig' %}
{% block body %}
    <h1>Plat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ plat.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ plat.content|raw }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ plat.image }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ plat.price }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_plat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_plat_edit', { 'id': plat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
