{% extends "::base.html.twig" %}


{% block body %}
<div class="container">
    <div class="row">
        <div>
            <h2 class="titre_menu" style="text-transform: uppercase;">Menu {{ menu.name }}</h2>
            <img class="rounded image_menu" src="http://fakeimg.pl/350x200/?text={{ menu.name }}" alt="{{ menu.name }}">
            <p class="prix_menu"><b>{{ menu.price }} €</b></p>
        </div>
        <div>
            <p class="card-text">{{ menu.content|raw }}</p>
        </div>
    </div>
</div>


{% endblock %}